.App {
  text-align: center;
}

.Homescreen {
  text-align: center;
  padding: 2%;
}

.button {
  border: 1px solid #1a202c;
  padding: 8px;
  min-width: 64px;
  background: transparent;
  margin: 2px
}

.searchInput {
    text-align: center;
    padding: 2%;
}

.image {
  flex: 1;
  width: 30px;
  height: 30px;
  resize: 'contain';
}

.image_profile {
  flex: 1;
  width: 100px;
  height: 100px;
  resize: 'contain';
}